@inherits LayoutComponentBase

<CascadingValue Value="AuthenticationState" Name="AuthenticationState">
    <div class="container-fluid">
        @Body
    </div>
</CascadingValue>

@code {
    public AuthenticationState AuthenticationState { get; set; } = new();
}

